body {
  height: 100%;
  margin-left: 0%;
  background-color: #333;
  font-family: 'Maitree', serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
ul {
  list-style-type: none;
}
.leftNav {
  float: left;
  text-align: left;
  /*display: flex;
  align-items: flex-start;*/
}
.rightNav {
  float: right;
  /*display: flex;
  align-items: flex-end;*/
}
