body {
  height: 100%;
  margin-left: 0%;
  background-color: #111;
  font-family: 'Maitree', serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
/*.centered {
  position: fixed;
  top: 50%;
  left: 50%;*/
  /* bring your own prefixes */
  /*transform: translate(-50%, -50%);*/
/*}*/
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.leftNav {
  float: left;
  text-align: left;
  /*margin-left: 0;
  padding-left: 0;*/
  /*display: flex;
  align-items: flex-start;*/
}
.rightNav {
  float: right;
  /*display: flex;
  align-items: flex-end;*/
}
.rotate {
  transition: all 3s;
  transition-timing: ease-in-out;
}
.rotate:hover {
  transform: rotate(1080deg);
}
