body {
  height: 100%;
  margin-left: 0%;
  background-color: #111;
  font-family: 'Maitree', serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
h1 {
  display: flex;
  justify-content: center;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*.centered {
  position: fixed;
  top: 50%;
  left: 50%;*/
  /* bring your own prefixes */
  /*transform: translate(-50%, -50%);*/
/*}*/
ul {
  list-style-type: none;
  padding-left: none;
}
li {
  list-style-type: none;
  margin-left: none;
}
a {
  color: white;
  text-decoration: none;
}
.navbar {
  border: none;
  background-color: #111;
}
.navbar-fixed-top {
  padding-top: 20px;
}
.leftNav {
  float: left;
  margin: none;
  text-align: left;
  /*margin-left: 0;
  padding-left: 0;*/
  /*display: flex;
  align-items: flex-start;*/
}
.rightNav {
  float: right;
  display: flex;
  align-items: flex-end;
}
.jumbotron {
  background-color: #111;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.rotate {
  transition: all 3s;
  transition-timing: ease-in-out;
}
.rotate:hover {
  transform: rotate(1080deg);
}
